extends ../index.pug

block content
  .container.position-absolute.start-50.bottom-50.translate-middle-x
    h1 Welcome to the Brain Games!
    p.lh-lg.lead
      | There you can check your math skills!
    p.lh-lg.justify-content-center.float-md-center
      a.btn.btn-lg.btn-primary.me-3(href='/start') Let's go!
      a.btn.btn-lg.btn-primary.ms-3(href='/about') What is this?